{% extends 'base.html' %}
{% load static %}
{% block body%}
<div class="container mt-5 mb-5">
    <div class="row">
        {% for alls in all %}
        <div class="col-md-3 mt-3">
            <div class="card" ">
                <img src="{{alls.img.url}}" class="card-img-top" alt="..." style="width: 304px; height:305px;">
                <div class="card-body">
                  <a style="color: black;" href="{%url 'Product:details' alls.id %}"><h5 class="card-title">{{alls.name}}</h5></a>
                  <p class="card-text">{{alls.description|truncatechars:100}}</p>
                  <a href="{%url 'Product:details' alls.id %}" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
       
            
    </div>
</div>

<div class="container">
    {% if all.has_other_pages %}
    <div class="row">
        <div class="all_products_pagination" style="margin-left: 32%;">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if all.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ all.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% for i in all.paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {%endfor%}
                    {% if all.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ all.next_page_number }}">Next</a></li>
                        {%endif%}
                </ul>
            </nav>
        </div>
        {% endif %}   
    </div>
</div>
{% endblock body %}